{% extends "layout.html" %}
{% block body %}
    <h1>{{ bake.get_name_str() }}</h1>
    <a href="{{ url_for('add', index=0) }}">Add here</a>
    {% if bake.get_n_ferments() > 0 %}
    <ol>
        {% for ferment in bake.ferments %}
        <li>
            <h2>{{ ferment.get_name_str() }}</h2>
                <ul>
                <li>{{ ferment.get_time_str() }}
                <li>{{ ferment.get_temp_str() }}
                <li>{{ ferment.get_start_str() }}
                <li>{{ ferment.get_end_str() }}
                </ul>
            <a href="{{ url_for('add', index=1+bake.ferment_index[ferment.name]) }}">Add here</a>
            <a href="{{ url_for('edit', ferment_name=ferment.name) }}">Edit</a>
            <a href="{{ url_for('delete', ferment_name=ferment.name) }}">Delete</a>
        </li>
        {% endfor %}
        </ol>
    {% else %}
        <em>No ferments.</em>
        {% endif %}


{% endblock %}
