{% extends "layout.html" %}
{% block body %}
  <p>Letting bread rise for the right amount of time is crucial for a delicious bake. For bread yeast fermentation, an increase in temperature of approximately 8 C requires either half as much ferment time or half the inoculation (amount of starter culture) to keep the 'amount' of fermentation the same. This tool applies this constraint for you, helping you to bake on your schedule/climate by adjusting time, temperature and/or inoculation.
  <br>
  <h2>Start a bake</h2>
  A 'bake' here is a sequence of 'ferments' with specified time, temperature and inoculation. Once a ferment has been created, you can change one or two of these parameters and the other(s) will adjust, keeping the 'amount' of fermentation the same. You can also specify a start/end time to any of the ferments and all the others will sync up accordingly.</p>
  <form action="{{ url_for('home') }}" method="post">
    <dl>
      <dt>Give your bake a name and get started:</dt>
      <dd><input type="text" name="bake_name"
        placeholder="eg. myDeliciousBake"></dd>
      <dt>Default sourdough sequence (tastes great with peanut butter):</dt>
      <dd><input type="submit" name="create" value="Default"></dd>
      <dt>Empty bake (add your own damn ferments):</dt>
      <dd><input type="submit" name="create" value="Empty"></dd>
    </dl>
  </form>
{% endblock %}
