{% extends "layout.html" %}
{% block body %}
  <h1>{{ bake.get_name_str() }}</h1>
  <p>List of ferments in the bake. Their order and the 'amount' of fermentation of each is fixed. Changing one property (eg. increasing time) will result in the other being changed accordingly (eg. temperature will decrease). To change both properties you have to delete the current ferment and add a new one. Start/end times are synced automatically.</p>
  <ul>
    <li><a href="{{ url_for('add_ferment', ferment_index=0) }}">
      Add here</a>
    </li>
    {% if bake.get_n_ferments() > 0 %}
      {% for ferment in bake.ferments %}
      <li>
      <h2><a href="{{ url_for('edit_ferment',
        ferment_name=ferment.name) }}">
        {{ 1 + bake.ferment_index[ferment.name] }}. Ferment
        "{{ ferment.get_name_str() }}"</a>
      </h2>
      <ul>
        <li>Temp: {{ ferment.get_temp_str() }} (C)</li>
        <li>Time: {{ ferment.get_time_str() }} (hours)</li>
        <li>Inoc: {{ ferment.get_inoc_str() }} (percent)</li>
        <li>Start: {{ ferment.get_start_str() }}</li>
        <li>End: {{ ferment.get_end_str() }}</li>
      </ul>
      <a href="{{ url_for('edit_ferment', ferment_name=ferment.name) }}">
        Edit
      </a>
      <a href="{{ url_for('delete_ferment', ferment_name=ferment.name) }}">
        Delete
      </a>
      </li>
      <li>
      <a href="{{ url_for('add_ferment', ferment_index=1+bake.ferment_index[ferment.name]) }}">
        Add here
      </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <em>No ferments.</em>
    {% endif %}
{% endblock %}
